@font-face {
    font-family: 'Notosans';
    src: url(./assets/fonts/NotoSans.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Notosans, sans-serif;
}


:root {
    --color-bg: #02001C;
    --color-bg-transparent: hsla(244, 100%, 5%, 0.9);
    --color-text-transparent: hsla(244, 100%, 85%, 0.48);
    --color-text-bright: #EFEDFF;
    --color-text-normal: #7970FF;
    --color-bg-dark: hsla(240, 95%, 8%, 1);
    --color-bg-dark-transparent: hsla(240, 95%, 8%, 0.9);
}

body {
    background-color: var(--color-bg, #02001C);
}

body::-webkit-scrollbar {
    display: none;
}
